/*ทดสอบการเขียนแบบ External*/
*{
    font-family: 'TH Sarabun New';
}
p#mes{
    font-size:14pt;
    color:#FFF;
    background-color:#000;
}
p#mespic{
    font-size:14pt;
    background-image:url(https://cdn.pixabay.com/photo/2020/10/11/08/00/lighthouse-5645042__340.png);
    background-position: center;
}
p#testpx{
    font-size:14px;
}
p#testpt{
    font-size:14pt;
}
p#testper{
    font-size:100%;
}
p#testrem{
    font-size:1.5rem;
}
