html{
    scroll-behavior: smooth;
}
body{
    height: 4000px;
}
.box{
    width: 100px;
    height: 100px;
}
#box1{
    background-color: orange;
    position: relative;
    left: 50px;
    top: 50px;
    z-index: 1;
}
#box2{
    background-color: greenyellow;
    position: absolute;
    left: 50px;
    top: 100px;
}
#box3{
    background-color: purple;
    position: absolute;
    right: 50px;
    top: 200px;
}
#box4{
    background-color: pink;
    position: fixed;
}
#box5{
    background-color: red;
    position: sticky;
    top:0;
}
.container{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: gray;
}